

.game {
    background-color: aquamarine;
    height: 80vh;
}



.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    line-height: 50px;
}


.attivo {
    background-color: #6495F1;
    color: #fff;
}